*{
    
    margin: 0;
    justify-content: center;
    display: flexbox;
}
header{
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}

.inpt{
    outline: auto;
    width: auto;
    outline: none;
}
.butt{
    outline: auto;
}
.input-field{
    margin: auto;
    display: flex;
    
}
.Profile-card{
    background-color: rgb(192, 192, 192);
    display: flex;
    margin: auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.103);
    visibility: hidden;
    
    
}
.pfc{
    visibility: hidden;
}
.PC-Row{
    display: flex;
    flex-direction: row;
}
.PC-Row p{
   margin: 20px; 
}
.Profile-Picture{
    width: 200px;
    height: auto;
    border-radius: 50%;
    float: left;
    object-fit: cover;
    border: 1px solid black;
    margin: 10px;
    
    

}
.Profile-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 400px;
    
}
.username{

}

.repoWrap{
    display: flexbox;
    margin: auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.103);
    visibility: visible;
}

.repo-language{
    text-align: end;
}